body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 16px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #d3e67e;   
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388E3C;   /* darker green on hover */
}


ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}
.input-group {
  display: flex;
  align-items: center;
}
#mic {
  background-color: #d3e67e;      /* soft red */
  color: white;
  border: solid 1px black;
  border-radius: 10px;            /* more rounded corners */
  padding: 10px 16px;             /* gives it rectangular shape */
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#mic:hover {
  background-color: #cc0000;      /* darker red on hover */
}
